
#container{
    display: flex;
    flex-direction: column;
}

.parent {
    flex: 1 1 auto;
    align-self: stretch;
}

button {
    padding: 20px;
    border: 4px solid black;
    background-color: rgb(194, 191, 191);
    font-size: 20px;
}

button:hover {
    color: black;
    background-color: white;
}